*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

svg,
path {
  pointer-events: none;
}

body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2.8rem;
    color: white;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgb(95, 95, 95);
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  input,
  button {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    margin: 0.25rem 0.5rem;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    text-align: center;
    width: 90px;
    -moz-appearance: textfield;
  }

  button {
    cursor: pointer;
  }
}

div.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    margin: 0.25rem 0.5rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.todo {
    width: 50vw;
    display: flex;
    //justify-content: center;
    align-items: center;
    transition: all 0.1s ease;

    p {
      background-color: white;
      color: black;
      border-radius: 30px;
      font-size: 1.2rem;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem 0.5rem;
    }

    p.todo-text {
      width: 70%;
    }
    p.todo-time {
      width: 15%;
      text-align: center;
    }
    button {
      cursor: pointer;
      margin: 0.25rem 0.5rem;
      border: none;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
